<%- include ./header.ejs %>
<%- include('./topnav.ejs', {'title': '关注论坛', 'num': 2}); %>
<ul class="content-box">
    <li>
        <p class="content-title">用户名</p>
        <div class="content-inn">论坛内容 论坛内容 论坛内容 论坛内容 论坛内容 论坛内容 论坛内容 论坛内容</div>
        <div class="content-fun clear">
            <p>评论</p>
            <p>关注</p>
        </div>
        <ul class="content-ul">
            <li>某用户： 天气很好</li>
        </ul>
    </li>
    <li>
        <p class="content-title">用户名</p>
        <div class="content-inn">论坛内容 论坛内容 论坛内容 论坛内容 论坛内容 论坛内容 论坛内容 论坛内容</div>
        <div class="content-fun clear">
            <p>评论</p>
            <p>关注</p>
        </div>
        <ul class="content-ul">
            <li>某用户： 天气很好</li>
        </ul>
    </li>
</ul>
<%- include ./footer.ejs %>