<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- 苹果手机：会删除默认的工具栏和菜单栏，网站开启对web app程序的支持 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 苹果手机： 在web app应用下状态条（屏幕顶部条）的颜色，默认值为default（白色），
    可以定为black（黑色）和black-translucent（灰色半透明） -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- 禁止自动识别电话号码和邮箱 -->
    <meta name="format-detection" content="telephone=no,email=no;" />
    <!-- 苹果手机：如果把web app添加到主屏幕中，那么从主屏幕中打开这个web app则全屏显示 -->
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关注的BBS</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
    <div class="content">