<%- include ./header.ejs %>
<div class="login">
    <form id="form" method="post" onsubmit="return false">
        <div class="login-title">登录</div>
        <div class="login-label">
            <input type="text" name="name" placeholder="请输入账号">
        </div>
        <div class="login-label">
            <input type="password" name="password" placeholder="请输入密码">
        </div>
        <p>没有账号请 <a href="register">去注册</a></p>
        <div class="login-submit">
            <input type="button" value="立即登录" onclick="login()">
        </div>
    </form>
</div>
<%- include ./footer.ejs %>